---
import { ViewTransitions } from 'astro:transitions'
import HeadSEO from '../components/HeadSEO.astro'
import SchemaOrg from '../components/SchemaOrg.astro'
import Footer from '../components/Footer.astro'
import Header from '../components/Header.astro'

interface Props {
  title?: string
  description?: string
  ogImage?: URL
  canonicalURL?: URL
}

const { title, description, ogImage, canonicalURL } = Astro.props
---

<html lang="en">
  <head>
    <HeadSEO title={title} description={description} ogImage={ogImage} canonicalURL={canonicalURL} />
    <SchemaOrg type="WebSite" />
    <ViewTransitions />
  </head>
  <body class="min-h-screen bg-background font-sans antialiased overflow-x-hidden">
    <div class="flex flex-col items-center justify-center">
      <Header />
      <slot />
      <Footer />
    </div>
  </body>
</html>
